@model DashBoardViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/PlannerDashboard.cshtml";
}

<style>
    html body {
        background-color: #faf9f5;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }
</style>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-page-head page-header">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="page-title">
                                <h1 style="color:black;">Guest List&nbsp;&nbsp;&nbsp;<small>Create your wedding guest list.</small></h1>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="action-block">
                                <a onclick="$('#AddGuest').slideDown()" class="btn tp-btn-default" id="guestlist_show">Add Guest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="couple-board">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-white pinside40 guestlist-form mb30" id="AddGuest">
                                <h2 class="form-title">Create New Guest</h2>
                                <form id="form-guestlist" method="post">
                                    <div class="status"></div>
                                    <input type="hidden" id="action" name="action" value="addguest" />                	<div class="close-sign"><a onclick="$('#AddGuest').slideUp()" style="cursor:pointer" id="guestlist_hide"><i class="fa fa-close"></i></a></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label" for="guest_name">Guest name</label>
                                                <div class="">
                                                    <input id="guest_name" name="guest_name" type="text" placeholder="Guest name" class="form-control input-md" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Address">Address</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Address" name="Address" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Countrh">Country</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Country" name="Country" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Country">Email</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Email" name="Email" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="col-md-6">
                                            <!-- Textarea -->
                                            <div class="form-group">
                                                <label class="control-label" for="side">Side</label>
                                                <div class="">
                                                    <select asp-for="Side" asp-items="Html.GetEnumSelectList<DAL.Side>()" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="City">City</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="City" name="City" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Phone">Phone</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Phone" name="Phone" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="RSVP">RSVP</label>
                                                <div class="">
                                                    <select asp-for="RSVP" asp-items="Html.GetEnumSelectList<DAL.GuestStatus>()" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-right">
                                                    <button id="btn-guestlist" type="submit" name="btn-guestlist" class="btn tp-btn-primary">Save Guest</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end of it-->

                                    </div>
                                </form>
                            </div>

                        </div>
                        @if (Model.GuestId != null)
                        {
                            var sideItems = Html.GetEnumSelectList<DAL.Side>();
                            foreach (var item in sideItems)
                            {
                                if (item.Text == Model.Guest.Side.ToString())
                                {
                                    item.Selected = true;
                                }
                                item.Text = item.Text.Replace('_', ' ');
                            }
                            var rsvpItems = Html.GetEnumSelectList<DAL.GuestStatus>();
                            foreach (var item in rsvpItems)
                            {
                                if (item.Text == Model.Guest.GuestStatus.ToString())
                                {
                                    item.Selected = true;
                                }
                                item.Text = item.Text.Replace('_', ' ');
                            }
                                        <div class="col-md-12">
                            <div class="bg-white pinside40 mb30" id="EditGuest">
                                <h2 class="form-title" style="color:black">Edit Guest</h2>
                                <form id="form-guestlist" method="post" action="/Dashboard/GuestList">
                                    <div class="status"></div>
                                    <input type="hidden" id="action" name="action" value="editguest" />
                                    <input type="hidden" id="guestId" name="guestId" value="@Model.GuestId" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label" for="guest_name">Guest name</label>
                                                <div class="">
                                                    <input id="guest_name" name="guest_name" type="text" placeholder="Guest name" class="form-control input-md" required="" value="@Model.Guest.FullName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Address">Address</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Guest.Address" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Countrh">Country</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Country" name="Country" value="@Model.Guest.Country" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Country">Email</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Guest.Email" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="col-md-6">
                                            <!-- Textarea -->
                                            <div class="form-group">
                                                <label class="control-label" for="side">Side</label>
                                                <div class="">
                                                    <select id="Side" name="Side" asp-items="sideItems" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="City">City</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="City" name="City" asp-for="Guest.City" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Phone">Phone</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="Phone" name="Phone" asp-for="Guest.Phone" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="RSVP">RSVP</label>
                                                <div class="">
                                                    <select id="RSVP" name="RSVP" asp-items="rsvpItems" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-right">
                                                    <button id="btn-guestlist" type="submit" name="btn-guestlist" class="btn tp-btn-primary">Save Guest</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end of it-->

                                    </div>
                                </form>
                            </div>

                        </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="st-accordion">
                                <!-- shortcode -->
                                <div class="panel-group" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div id="" class="panel-collapse " role="tabpanel" aria-labelledby="headingOne">
                                            <div class="todo-list-group">
                                                <!-- List group -->
                                                <ul class="listnone">
                                                    @foreach (var row in Model.GuestList)
                                                    {
                                                        <li class="todo-list-item">
                                                            <div class="todo-list">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <div class="todo-task">
                                                                            <h3 class="todo-title"><a class="title" data-toggle="collapse" href="#mansour-dalla" aria-expanded="false" aria-controls="collapseExample">@row.FullName </a> </h3>
                                                                            <span class="todo-date"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="todo-action">
                                                                            <span id="guestlist_35">
                                                                            </span>
                                                                            <a href="?edit=@row.Id" class="btn-circle" title="Edit"><i class="fa fa-edit"></i></a>
                                                                            <a class="btn-circle" title="Delete" onclick="delete_guestlist(@row.Id)"><i class="fa fa-trash-o"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="collapse" id="mansour-dalla">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            var prec = 0;
                            if (Model.GuestList.Count() > 0)
                            {
                                prec = (Model.GuestList.Where(x => x.GuestStatus == DAL.GuestStatus.Accepted).Count() * 100 / @Model.GuestList.Count());
                            }
                            var precs = prec + "%";
                        }
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bg-white pinside30 widget-todo">
                                        <h3>Summary of Guests</h3>
                                        <div id="todo-percentage" class="todo-percentage" data-percent="@prec">@precs  </div>
                                        <div class="todo-value"> <span class="todo-done">@Model.GuestList.Where(x=>x.GuestStatus == DAL.GuestStatus.Accepted).Count() Accepted</span> <span class="todo-pending">@Model.GuestList.Where(x => x.GuestStatus != DAL.GuestStatus.Accepted).Count() Uninvited or Pending</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


