@model DashBoardViewModel;
@using Microsoft.AspNetCore.Identity
@inject UserManager<DAL.Users> UserManager
@inject SignInManager<DAL.Users> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/PlannerDashboard.cshtml";
    var user = await SignInManager.UserManager.GetUserAsync(User);
}

<style>
    html body {
        background-color: #faf9f5;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }
</style>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#333333">Welcome back to @user.UserName</h1>
                <p>We are happy to have you back.</p>
            </div>
            <div class="col-md-6">
                <div class="well-box text-center">
                    @if (Model.Event != null)
                    {
                        <h3 class="package_title">Count Down Days&nbsp;&nbsp;<small>[@Model.Event.Date.DayOfWeek, @Model.Event.Date.Date @Model.Event.Date.Month @Model.Event.Date.Year]</small></h3>
                        <h1 class="package_number">@Model.Event.Date.Subtract(DateTime.Now) Days</h1>
                        <h3 class="package_title"></h3>
                    }
                    else
                    {
                        <h3 class="package_title">Count Down Days&nbsp;&nbsp;<small>[<a href="~/Identity/Account/Manage">Please Create your event first</a>]</small></h3>
                        <h1 class="package_number"></h1>
                        <h3 class="package_title"></h3>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="well-box text-center">
                    <h3 class="package_title">Your Wishlist Items</h3>
                    <h1 class="package_number">@Model.WishList.Count()</h1>
                </div>
            </div>
        </div>
    </div>
</div>


