@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.HomeSliders.Count(); i++)
        {
            string isactive = i == 0 ? "active":"";

            <li data-target="#myCarousel" data-slide-to="@i" class="@isactive"></li>
        
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model.HomeSliders.Count(); i++)
                {
                    string isactive = i == 0 ? "active" : "";
                    string filepath = Model.HomeSliders.ToList()[i].Media;
        <div class="item @isactive">
            @if (Model.HomeSliders.ToList()[i].MediaType == DAL.MediaType.Image)
            {
            <img src="~/Media/@filepath" class="img-responsive" />
            }
            else
            {
                <video src="~/Media/@filepath" class="img-responsive" />
            }
        </div>

        }
        
        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="find-section">
    <!-- Find search section-->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 finder-block">
                <div class="finderform">
                    <form method="get" action="/vendors">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <select id="CategoryId" name="CategoryId" asp-items="@(new SelectList(Model.VendorCategories,"Id","Title"))" class="form-control selectpicker">
                                    <option value="">Please select</option>
</select>
                            </div>
                            <div class="form-group col-md-4">
                                <select name="CountryId" id="CountryId" asp-items="@(new SelectList(Model.Countries,"Id","Name"))" class="form-control selectpicker"><option value="">Select Country</option></select>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn tp-btn-primary btn-lg btn-block" type="submit">Find Vendors</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.Find search section-->

<div class="spacer feature-section">
    <div class="container">
        <div class="row"><div class="col-md-12 tp-title-center"><h1>@Model.Webcontent.TipsTitle</h1></div></div> 
        <div class="row">
        @foreach (var tip in Model.HomeTips)
        {
            <div class="col-md-4">
                <div class="feature-block feature-center mb30"><div class="feature-icon"><img src="~/Media/@tip.Image" style="height:70px"/></div><h2>@tip.Title</h2><p>@tip.Description</p></div>
            </div>
        }
        </div>
    </div>
</div>

<div class="spacer tp-section">
    <div class="container">
        <div class="row"><div class="col-md-12 tp-title-center"><h1 style="color:#000000;">@Model.Webcontent.FeaturedVendorsTitle</h1></div></div>
        <div class="row">
    @foreach (var row in Model.FeaturedItems)
    {
        <div class="col-md-4 vendor-box">
            <div class="vendor-image">
                <a href="#"><img width="440" height="290" src="~/Media/@row.Thumb" class="img-responsive wp-post-image" alt="" /></a>
                @*<div class="feature-label"></div>*@
            </div>

            <div class="vendor-detail">
                <div class="caption">
                    <h2><a class="title" href="#">@row.Title</a></h2>
                    <p class="location"><i class="fa fa-map-marker"></i> @row.Address</p>
                </div>

            </div>
        </div>
    }

</div>
    </div>
</div>

<div class="spacer feature-section">
    <div class="container">
        <div class="row"><div class="col-md-12 tp-title-center"><h1>@Model.Webcontent.BlogTitle</h1></div></div> <div class="row">
            @foreach (var row in Model.LatestInspirations)
            {
                <div class="col-md-4">
                    <div class="mb30"><div class="vendor-image"><a href="#"><img class="img-responsive" alt="" src="~/Media/@row.Image"></a> <a class="venue-lable" href="#"><span class="label label-default">@row.Title</span></a></div></div>
                </div>
            }
            
        </div>
        
            
    </div>
</div>



