@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.HomeSliders.Count(); i++)
        {
            string isactive = i == 0 ? "active":"";

            <li data-target="#myCarousel" data-slide-to="@i" class="@isactive"></li>
        
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model.HomeSliders.Count(); i++)
                {
                    string isactive = i == 0 ? "active" : "";
                    string filepath = Model.HomeSliders.ToList()[i].Media;
        <div class="item @isactive">
            @if (Model.HomeSliders.ToList()[i].MediaType == DAL.MediaType.Image)
            {
            <img src="~/Media/@filepath" class="img-responsive" />
            }
            else
            {
                <video src="~/Media/@filepath" class="img-responsive" />
            }
        </div>

        }
        
        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="find-section">
    <!-- Find search section-->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 finder-block">
                <div class="finderform">
                    <form method="get" action="/vendors">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <select name="category_type" id="category_type" class="form-control selectpicker"><option value="">Select Category</option><option value="245">3D Mapping</option><option value="238">Banks</option><option value="247">Beauty Centers</option><option value="248">Cars &amp; Transportation</option><option value="44">Catering &amp; Bars</option><option value="46">Clothing &amp; Accessories</option><option value="59">Entertainment</option><option value="9">Florists</option><option value="60">Furniture</option><option value="43">Hair &amp; Beauty</option><option value="54">Honeymoon Experience</option><option value="156">Hostessing</option><option value="49">Invitations</option><option value="246">Jewelry</option><option value="51">Lighting &amp; Sound</option><option value="241">Miscellaneous</option><option value="4">Photography &amp; Videography</option><option value="52">Planners &amp; coordinators</option><option value="3">Venues</option></select>
                            </div>
                            <div class="form-group col-md-4">
                                <select name="city" id="city" class="form-control selectpicker"><option value="">Select City</option><option value="185">Lebanon</option></select>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn tp-btn-primary btn-lg btn-block" type="submit">Find Vendors</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.Find search section-->

<div class="spacer feature-section">
    <div class="container">
        <div class="row"><div class="col-md-12 tp-title-center"><h1>Take the Stress Out of Planning</h1></div></div> <div class="row">
        @foreach (var tip in Model.HomeTips)
        {
            <div class="col-md-4">
                <div class="feature-block feature-center mb30"><div class="feature-icon"><i class="icon icon-size-60 @tip.Image icon-default"></i></div><h2>@tip.Title</h2><p>@tip.Description</p></div>
            </div>
        }
        </div>
    </div>
</div>

<div class="spacer tp-section">
    <div class="container">
        <div class="row"><div class="col-md-12 tp-title-center"><h1 style="color:#000000;">Featured Wedding Vendor</h1></div></div><div class="row">
            <div class="col-md-4 vendor-box">
                <div class="vendor-image">
                    <a href="https://planmy.me/item/griffegraf/"><img width="440" height="290" src="https://planmy.me/wp-content/uploads/2018/04/griffegraf-440x290.jpg" class="img-responsive wp-post-image" alt="" /></a>
                    @*<div class="feature-label"></div>*@
                </div>
                <div class="vendor-detail">
                    <div class="caption">
                        <h2><a class="title" href="https://planmy.me/item/griffegraf/">GriffeGraf</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> Beirut, Lebanon</p>
                    </div>

                </div>
            </div><div class="col-md-4 vendor-box">
                <div class="vendor-image">
                    <a href="https://planmy.me/item/skamlati-by-mt/"><img width="440" height="290" src="https://planmy.me/wp-content/uploads/2018/09/Skamlati-low-440x290.jpg" class="img-responsive wp-post-image" alt="" /></a>
                    @*<div class="feature-label"></div>*@
                </div>
                <div class="vendor-detail">
                    <div class="caption">
                        <h2><a class="title" href="https://planmy.me/item/skamlati-by-mt/">Skămlati by MT</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> Beirut, Lebanon</p>
                    </div>

                </div>
            </div><div class="col-md-4 vendor-box">
                <div class="vendor-image">
                    <a href="https://planmy.me/item/360-degrees-ltd/"><img width="440" height="290" src="https://planmy.me/wp-content/uploads/2018/10/360-degrees-low-440x290.jpg" class="img-responsive wp-post-image" alt="" /></a>
                    @*<div class="feature-label"></div>*@
                </div>
                <div class="vendor-detail">
                    <div class="caption">
                        <h2><a class="title" href="https://planmy.me/item/360-degrees-ltd/">360 DEGREES LTD</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> Sfeir building, Ground Floor, Sharbinee Street, Ajaltoun, Lebanon</p>
                    </div>

                </div>
            </div><div class="col-md-4 vendor-box">
                <div class="vendor-image">
                    <a href="https://planmy.me/item/peppinieres/"><img width="440" height="290" src="https://planmy.me/wp-content/uploads/2018/11/pepiniere-440x290.jpg" class="img-responsive wp-post-image" alt="" /></a>
                    @*<div class="feature-label"></div>*@
                </div>
                <div class="vendor-detail">
                    <div class="caption">
                        <h2><a class="title" href="https://planmy.me/item/peppinieres/">Peppinières</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> Jdeideh</p>
                    </div>

                </div>
            </div><div class="col-md-4 vendor-box">
                <div class="vendor-image">
                    <a href="https://planmy.me/item/le-blanc-catering-2/"><img width="440" height="290" src="https://planmy.me/wp-content/uploads/2017/11/leblanc_1-440x290.jpg" class="img-responsive wp-post-image" alt="" /></a>
                    @*<div class="feature-label"></div>*@
                </div>
                <div class="vendor-detail">
                    <div class="caption">
                        <h2><a class="title" href="https://planmy.me/item/le-blanc-catering-2/">Le Blanc Catering</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> Zalka, Lebanon</p>
                    </div>

                </div>
            </div><div class="col-md-4 vendor-box">
                <div class="vendor-image">
                    <a href="https://planmy.me/item/the-tipplers/"><img width="440" height="290" src="https://planmy.me/wp-content/uploads/2017/12/Tipplers-01-440x290.jpg" class="img-responsive wp-post-image" alt="" /></a>
                    @*<div class="feature-label"></div>*@
                </div>
                <div class="vendor-detail">
                    <div class="caption">
                        <h2><a class="title" href="https://planmy.me/item/the-tipplers/">The Tipplers</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> The tipplers, Jdeideh</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer feature-section">
    <div class="container">
        <div class="row"><div class="col-md-12 tp-title-center"><h1>THE LATEST INSPIRATIONS</h1></div></div> <div class="row">
            <div class="col-md-4">
                <div class="mb30"><div class="vendor-image"><a href="https://planmy.me/category/wedding-trends/"><img class="img-responsive" alt="" src="https://planmy.me/wp-content/uploads/2017/10/flora_1.png"></a> <a class="venue-lable" href="https://planmy.me/category/wedding-trends/"><span class="label label-default">Pink loft</span></a></div></div>
            </div>
            <div class="col-md-4">
                <div class="mb30"><div class="vendor-image"><a href="https://planmy.me/category/wedding-trends/"><img class="img-responsive" alt="" src="https://planmy.me/wp-content/uploads/2017/10/flora_2.png"></a> <a class="venue-lable" href="https://planmy.me/category/wedding-trends/"><span class="label label-default">Greek Maryland</span></a></div></div>
            </div>
            <div class="col-md-4">
                <div class="mb30"><div class="vendor-image"><a href="https://planmy.me/category/wedding-trends/"><img class="img-responsive" alt="" src="https://planmy.me/wp-content/uploads/2017/10/flora_3.png"></a> <a class="venue-lable" href="https://planmy.me/category/wedding-trends/"><span class="label label-default">Terra</span></a></div></div>
            </div>
        </div> <div class="row">
            <div class="col-md-8">
                <div class="mb30"><div class="vendor-image"><a href="https://planmy.me/category/wedding-trends/"><img class="img-responsive" alt="" src="https://planmy.me/wp-content/uploads/2017/10/flora_4.png"></a> <a class="venue-lable" href="https://planmy.me/category/wedding-trends/"><span class="label label-default">Flora</span></a></div></div>
            </div>
            <div class="col-md-4">
                <div class="mb30"><div class="vendor-image"><a href="https://planmy.me/category/wedding-trends/"><img class="img-responsive" alt="" src="https://planmy.me/wp-content/uploads/2017/10/flora_5.png"></a> <a class="venue-lable" href="https://planmy.me/category/wedding-trends/"><span class="label label-default">Garden</span></a></div></div>
            </div>
        </div>
    </div>
</div>



