@model DAL.WebContent

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WebContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipsTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipsTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeaturedVendorsTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeaturedVendorsTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminEmailPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminEmailPassword)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
