@model InspirationsViewModel
@{
    ViewData["Title"] = "Details";
}

<style>
    html body {
        background-color: #ffffff;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }

    a {
        color: #5f5f9e;
        text-decoration: none;
        font-weight: 600;
    }
    h2{
        color:black !important;
    }
</style>

<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb listnone">
                    <li>
                        <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Plan My." href="~/" class="home"><span property="name">Plan My</span></a><meta property="position" content="1"></span> &gt;  <span class="post post-post current-item">@Model.Blog.Title</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
             
            <div class="col-md-8" style="margin-left:200px;">
                <div id="post-263" class="post-263 post type-post status-publish format-image has-post-thumbnail hentry category-party-at-home tag-wedding post_format-post-format-image">
                    <div class="post-image">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                            <ol class="carousel-indicators">
                                @for (int i = 0; i < Model.Blog.Gallery.Count(); i++)
                                {
                                    string isactive = i == 0 ? "active" : "";

                                    <li data-target="#myCarousel" data-slide-to="@i" class="@isactive"></li>

                                }
                            </ol>
                            <div class="carousel-inner" role="listbox" style="height:540px;">
                                @for (int i = 0; i < Model.Blog.Gallery.Count(); i++)
                                {
                                    string isactive = i == 0 ? "active" : "";
                                    string filepath = Model.Blog.Gallery.ToList()[i].Image;
                                    <div class="item @isactive">
                                        <img src="~/Media/@filepath" class="img-responsive" />

                                    </div>

                                }

                            </div>
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        @*<div class="effect-pic">
            <img alt="" class="img-responsive" src="~/Media/@Model.Blog.Image" />
        </div>*@
                    </div>        <span class="date-meta">ON <a href="#" rel="bookmark"><time class="entry-date published" datetime="@Model.Blog.PostDate">@Model.Blog.PostDate.Month @Model.Blog.PostDate.Day, @Model.Blog.PostDate.Year</time></a>/ </span>
                    <span class="tag-meta">IN 
                    <a href="#" rel="category tag">
    @if (Model.Blog.BlogCategoryRelations != null && Model.Blog.BlogCategoryRelations.FirstOrDefault() != null)
    {
        @Model.Blog.BlogCategoryRelations.FirstOrDefault().Category.Title;
    }
    else
    {
        <text></text>
    }
                    </a>
                    </span>
                    
                    <div class="entry-content">
                    <p>
                        @Html.Raw(Model.Blog.HtmlDescription)
                        
                        </p>
                        </div><!-- .entry-content -->
                </div>
                <div class="related-post"> <h2 class="related-title"></h2> 
                <div class="row"></div></div>
                <div class="post-next-prev">
                    <div class="row">
    @if (Model.PreviousPage != null)
    {
        <div class="col-md-6 col-sm-6 prev-post">
            <span>
                <a href="@Model.PreviousPage.Id" class="link-prev-next"><i class="fa fa-angle-double-left"></i>Previous </a>
                <h3><a href="@Model.PreviousPage.Id" title="@Model.PreviousPage.Title" class="link">@Model.PreviousPage.Title</a></h3>
            </span>
        </div>
    }

    @if (Model.NextPage != null)
    {
        <div class="col-md-6 col-sm-6 next-post">
            <span>
                <a href="@Model.NextPage.Id" class="link-prev-next">Next <i class="fa fa fa-angle-double-right"></i></a>
                <h3><a href="@Model.NextPage.Id" title="@Model.NextPage.Title" class="link">@Model.NextPage.Title</a></h3>
                
                </span>
        </div>
    }
    </div>
                    </div>
</div>
        </div>
    </div>
 </div>




