@model VendorItemViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Description"] = "Vendor Item";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <form asp-action="Create" enctype="multipart/form-data" class="col-md-12">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlDescription" class="control-label"></label>
                <textarea asp-for="HtmlDescription" class="form-control"></textarea>
                <span asp-validation-for="HtmlDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <select asp-for="Categories" asp-items="ViewBag.Categories" class="form-control"></select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFeatured" /> @Html.DisplayNameFor(model => model.IsFeatured)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" asp-items="Html.GetEnumSelectList<DAL.MediaType>()" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select id="User" name="User" asp-items="ViewBag.Users" class="form-control">
                    <option>Please select</option>
                </select>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </div>
        <div class="col-md-6">
            @foreach (var type in Model.Taxonomies)
            {
                <div class="col-md-6">
                    <table style="width:100%">
                        <tr><td><h2>@type.Title</h2></td></tr>
                        @foreach (var value in type.VendorTypeValues)
                        {
                            var id = type.Id + "_" + value.Id;
                            <tr><td><input type="checkbox" value="@value.Id" name="@type.Id" id="@id" /><label for="@id">@value.Title</label></td></tr>
                        }
                    </table>
                </div>

            }
        </div>
    </form>
        </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
