@model VendorItemViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Description"] = "Vendor Item";
    ViewBag.Active = "Items";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signd_in=true&libraries=places&key=AIzaSyB90Ung-fTAeH6L8RbSDxBJbmWtiKTOYDU"></script>
<div class="row">
    <form asp-action="Create" enctype="multipart/form-data" class="col-md-12">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div style="width:100%;height:300px" id="gmap"></div>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlDescription" class="control-label"></label>
                <textarea asp-for="HtmlDescription" class="form-control"></textarea>
                <span asp-validation-for="HtmlDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <select asp-for="Categories" asp-items="ViewBag.Categories" class="form-control"></select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFeatured" /> @Html.DisplayNameFor(model => model.IsFeatured)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" asp-items="Html.GetEnumSelectList<DAL.MediaType>()" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="User" class="control-label"></label>
                    <select id="User" name="User" asp-items="ViewBag.Users" class="form-control">
                        <option>Please select</option>
                    </select>
                    <span asp-validation-for="User" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </div>
        <div class="col-md-6">
            @foreach (var type in Model.Taxonomies)
            {
                <div class="col-md-6">
                    <table style="width:100%">
                        <tr><td><h2>@type.Title</h2></td></tr>
                        @foreach (var value in type.VendorTypeValues)
                        {
                            var id = type.Id + "_" + value.Id;
                            <tr><td><input type="checkbox" value="@value.Id" name="@type.Id" id="@id" /><label for="@id">@value.Title</label></td></tr>
                        }
                    </table>
                </div>

            }
        </div>
    </form>
        </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    function initialize() {
        var myLatlng = new google.maps.LatLng(33.3659, 35.3265);
        var myOptions = {
            zoom: 7,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("gmap"), myOptions);
        // marker refers to a global variable
        marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
        // if center changed then update lat and lon document objects
        google.maps.event.addListener(map, 'center_changed', function () {
            var location = map.getCenter();
            document.getElementById("Latitude").value = location.lat();

            document.getElementById("Longitude").value = location.lng();
            // call function to reposition marker location
            placeMarker(location);
        });
        // if zoom changed, then update document object with new info
        google.maps.event.addListener(map, 'zoom_changed', function () {
            zoomLevel = map.getZoom();
            //document.getElementById("zoom_level").innerHTML = zoomLevel;
        });
        // double click on the marker changes zoom level
        google.maps.event.addListener(marker, 'dblclick', function () {
            zoomLevel = map.getZoom() + 1;
            if (zoomLevel == 20) {
                zoomLevel = 10;
            }
            //document.getElementById("zoom_level").innerHTML = zoomLevel;
            map.setZoom(zoomLevel);
        });

        function placeMarker(location) {
            var clickedLocation = new google.maps.LatLng(location);
            marker.setPosition(location);
        }
    }
    window.onload = function () { initialize() };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
