@model DAL.VendorItem

@{
    ViewData["Title"] = "Details";
    ViewBag.Active = "Items";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div>
    <h4>VendorItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HtmlDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HtmlDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thumb)
        </dt>
        <dd>
            <img src="~/Media/@Model.Thumb" style="height:100px" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
