@model VendorItemViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4>VendorItem</h4>
<hr />
<div class="row">
    <form asp-action="Edit" enctype="multipart/form-data" class="col-md-12">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlDescription" class="control-label"></label>
                <textarea asp-for="HtmlDescription" class="form-control"></textarea>
                <span asp-validation-for="HtmlDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>

                <select asp-for="Categories" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        if (category.Selected)
                        {
                            <option value="@category.Value" selected>@category.Text</option>
                        }
                        else
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFeatured" /> @Html.DisplayNameFor(model => model.IsFeatured)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" asp-items="Html.GetEnumSelectList<DAL.MediaType>()" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="User" class="control-label"></label>
                    <select id="User" name="User" class="form-control">
                        <option value="">Please select</option>
                        @foreach (var user in Model.User)
                        {
                            if (user.Selected)
                            {
                                <option value="@user.Value" selected>@user.Text</option>
                            }
                            else
                            {
                                <option value="@user.Value">@user.Text</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="User" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </div>
        <div class="col-md-6">
            @foreach (var type in Model.Taxonomies)
            {
                <div class="col-md-6">
                    <table style="width:100%">
                        <tr><td><h2>@type.Title</h2></td></tr>
                        @foreach (var value in type.VendorTypeValues)
                        {
                            var id = type.Id + "_" + value.Id;
                            bool selected = Model.values.Where(x => x.VendorTypeValue.Id == value.Id).Count() > 0;
                            if (selected)
                            {
                                <tr><td><input type="checkbox" value="@value.Id" name="@type.Id" id="@id" checked /><label for="@id">@value.Title</label></td></tr>
                            }
                            else
                            {
                                <tr><td><input type="checkbox" value="@value.Id" name="@type.Id" id="@id" /><label for="@id">@value.Title</label></td></tr>
                            }
                        }
                    </table>
                </div>

            }
        </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
