@model OffersViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="tp-page-head">
    <!-- page header -->
    <div class="container blog-header">
        <!--<div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1>SAVE on your Honeymoon with Travel Bureau</h1>
            </div>
          </div>
        </div>-->
    </div>
</div>
<!-- ./ page header -->

<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb listnone">
                    <li>
                        <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Plan My." href="https://planmy.me" class="home"><span property="name">Plan My</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to the Uncategorized Category archives." href="https://planmy.me/product-category/uncategorized/" class="taxonomy product_cat"><span property="name">Uncategorized</span></a><meta property="position" content="2"></span> &gt; <span class="post post-product current-item">SAVE on your Honeymoon with Travel Bureau</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="post-4928" class="post-4928 product type-product status-publish has-post-thumbnail product_cat-uncategorized product_cat-honeymoon-experience product_tag-hot-deal first instock virtual purchasable product-type-simple">
                    <div class="post-image"><div class="effect-pic"><img alt="" class="img-responsive" src="~/Media/@Model.Offers.Image" /></div></div>             
                    <div class="entry-content">
                        <div class="woocommerce">
                            <div class="single-product" data-product-page-preselected-id="0">
                                <div class="woocommerce-notices-wrapper"></div><div id="product-4928" class="post-4928 product type-product status-publish has-post-thumbnail product_cat-uncategorized product_cat-honeymoon-experience product_tag-hot-deal instock virtual purchasable product-type-simple">

                                    <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
                                        <figure class="woocommerce-product-gallery__wrapper">
                                            <div data-thumb="~/Media/@Model.Offers.Image" class="woocommerce-product-gallery__image"><a href="#"><img width="570" height="463" src="#" class="wp-post-image" alt="" title="Travel-Bureau---low" data-caption="" data-src="#" data-large_image="~/Media/@Model.Offers.Image" data-large_image_width="3780" data-large_image_height="3071" srcset="@Model.Offers.Image 570w, @Model.Offers.Image 300w, @Model.Offers.Image, @Model.Offers.Image 1024w" sizes="(max-width: 570px) 100vw, 570px" /></a></div>
                                        </figure>
                                    </div>

                                    <div class="summary entry-summary">
                                        <p class="price">FREE</p>


                                        <form class="cart" action="" method="post" enctype='multipart/form-data'>

                                            <div class="quantity">
                                                <label class="screen-reader-text" for="quantity_5bfd45febc275">Quantity</label>
                                                <input type="number"
                                                       id="quantity_5bfd45febc275"
                                                       class="input-text qty text"
                                                       step="1"
                                                       min="1"
                                                       max=""
                                                       name="quantity"
                                                       value="1"
                                                       title="Qty"
                                                       size="4"
                                                       pattern="[0-9]*"
                                                       inputmode="numeric"
                                                       aria-labelledby="" />
                                            </div>

                                            <button type="submit" name="add-to-cart" value="4928" class="single_add_to_cart_button button alt">Add to cart</button>

                                        </form>


                                        <div class="wcfm_ele_wrapper wcfm_catalog_enquiry_button_wrapper">
                                            <div class="wcfm-clearfix"></div>
                                            <a href="#" class="wcfm_catalog_enquiry" style=""><span class="fa fa-question-circle-o"></span>&nbsp;&nbsp;<span class="add_enquiry_label">Ask a Question</span></a>
                                            <div class="wcfm-clearfix"></div>
                                        </div>
                                        <div class="product_meta">

                                            Sold By&nbsp;:&nbsp;Plan My<br />

                                            <span class="posted_in">Categories: <a href="https://planmy.me/product-category/uncategorized/" rel="tag">Uncategorized</a>, <a href="https://planmy.me/product-category/honeymoon-experience/" rel="tag">Honeymoon Experience</a></span>
                                            <span class="tagged_as">Tag: <a href="@Model.Offers.OffersType" rel="tag">@Model.Offers.OffersType</a></span>

                                        </div>
                                    </div>


                                    <div class="woocommerce-tabs wc-tabs-wrapper">
                                        <ul class="tabs wc-tabs" role="tablist">
                                            <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                                                <a href="@Model.Offers.Description">Description</a>
                                            </li>
                                            <li class="wcfm_policies_tab_tab" id="tab-title-wcfm_policies_tab" role="tab" aria-controls="tab-wcfm_policies_tab">
                                                <a href="#tab-wcfm_policies_tab">Store Polices</a>
                                            </li>
                                            <li class="wcfm_enquiry_tab_tab" id="tab-title-wcfm_enquiry_tab" role="tab" aria-controls="tab-wcfm_enquiry_tab">
                                                <a href="#tab-wcfm_enquiry_tab">Inquiries</a>
                                            </li>
                                        </ul>
                                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

                                            <h2>@Model.Offers.Title</h2>

                                            <p>@Model.Offers.Description</p>
                                        </div>
                                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--wcfm_policies_tab panel entry-content wc-tab" id="tab-wcfm_policies_tab" role="tabpanel" aria-labelledby="tab-title-wcfm_policies_tab">
                                            <div class="wcfm-product-policies">
                                            </div>
                                        </div>
                                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--wcfm_enquiry_tab panel entry-content wc-tab" id="tab-wcfm_enquiry_tab" role="tabpanel" aria-labelledby="tab-title-wcfm_enquiry_tab">


                                            <h2 class="wcfm-enquiries-heading">General Inquiries</h2>

                                            <p class="woocommerce-noreviews wcfm-noenquiries">There are no inquiries yet.</p>





                                            <div class="enquiry_form_wrapper_hide">
                                                <div id="enquiry_form_wrapper" class="wcfm_popup_wrapper">
                                                    <div id="enquiry_form">
                                                        <div style="margin-bottom: 15px;"><h2 style="float: none;">Inquiry</h2></div>

                                                        <form action="" method="post" id="wcfm_enquiry_form" class="enquiry-form" novalidate="">
                                                            <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span></p>

                                                            <p class="wcfm_popup_label">
                                                                <strong for="comment">Your inquiry <span class="required">*</span></strong>
                                                            </p>
                                                            <textarea id="enquiry_comment" name="enquiry" class="wcfm_popup_input wcfm_popup_textarea"></textarea>

                                                            <p class="wcfm_popup_label">
                                                                <strong for="author">Name <span class="required">*</span></strong>
                                                            </p>
                                                            <input id="enquiry_author" name="customer_name" type="text" value="" class="wcfm_popup_input">

                                                            <p class="wcfm_popup_label">
                                                                <strong for="email">Email <span class="required">*</span></strong>
                                                            </p>
                                                            <input id="enquiry_email" name="customer_email" type="email" value="" class="wcfm_popup_input">


                                                            <div class="wcfm_clearfix"></div>
                                                            <div class="wcfm-message" tabindex="-1"></div>
                                                            <div class="wcfm_clearfix"></div><br />

                                                            <p class="form-submit">
                                                                <input name="submit" type="submit" id="wcfm_enquiry_submit_button" class="submit wcfm_popup_button" value="Submit">
                                                                <input type="hidden" name="product_id" value="4928" id="enquiry_product_id">
                                                                <input type="hidden" name="vendor_id" value="0" id="enquiry_vendor_id">
                                                            </p>
                                                        </form>
                                                        <div class="wcfm_clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wcfm-clearfix"></div>
                                        </div>
                                    </div>


                                    <section class="related products">

                                        <h2>Related products</h2>

                                        <ul class="products columns-4">


                                            <li class="post-1334 product type-product status-publish has-post-thumbnail product_cat-uncategorized product_cat-photographers-videography product_tag-hot-deal first instock virtual purchasable product-type-simple">
                                                <a href="#" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                    <img width="320" height="260" src="~/Media/@Model.Offers.Image" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="@Model.Offers.Image 320w, @Model.Offers.Image 300w" sizes="(max-width: 320px) 100vw, 320px" /><h2 class="woocommerce-loop-product__title">@Model.Offers.Title</h2>
                                                    <span class="price">FREE</span>
                                                </a><small class="wcvendors_sold_by_in_loop">Sold By : Plan My</small><br />
                                                <a href="/product/travel-bureau-the-honeymoon-mega-discount/?add-to-cart=1334" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="1334" data-product_sku="" aria-label="Add &ldquo;Photography &amp; Film - Elias Visuals&rdquo; to your cart" rel="nofollow">Add to cart</a>
                                            </li>


                                            <li class="post-4689 product type-product status-publish has-post-thumbnail product_cat-uncategorized product_cat-honeymoon-experience product_tag-bundle product_tag-hot-deal instock shipping-taxable purchasable product-type-simple">
                                                <a href="#" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                    <img width="320" height="260" src="~/Media/@Model.Offers.Image" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="@Model.Offers.Image 320w, @Model.Offers.Image 300w" sizes="(max-width: 320px) 100vw, 320px" /><h2 class="woocommerce-loop-product__title">@Model.Offers.Title</h2>
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>1.00</span></span>
                                                </a><small class="wcvendors_sold_by_in_loop">Sold By : Plan My</small><br />
                                                <a href="/product/travel-bureau-the-honeymoon-mega-discount/?add-to-cart=4689" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="4689" data-product_sku="" aria-label="Add &ldquo;The Perfect Honeymoon Deal with LE VOYAGEUR&rdquo; to your cart" rel="nofollow">Add to cart</a>
                                            </li>


                                            <li class="post-1336 product type-product status-publish has-post-thumbnail product_cat-uncategorized product_cat-clothing-accessories product_tag-hot-deal instock shipping-taxable purchasable product-type-simple">
                                                <a href="#" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                    <img width="320" height="260" src="~/Media/@Model.Offers.Image" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="@Model.Offers.Image 320w, @Model.Offers.Image 300w" sizes="(max-width: 320px) 100vw, 320px" /><h2 class="woocommerce-loop-product__title">@Model.Offers.Title</h2>
                                                    <span class="price">FREE</span>
                                                </a><small class="wcvendors_sold_by_in_loop">Sold By : Plan My</small><br />
                                                <a href="/product/travel-bureau-the-honeymoon-mega-discount/?add-to-cart=1336" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="1336" data-product_sku="" aria-label="Add &ldquo;50% OFF Wedding Dresses&rdquo; to your cart" rel="nofollow">Add to cart</a>
                                            </li>


                                            <li class="post-4682 product type-product status-publish has-post-thumbnail product_cat-uncategorized product_cat-cars-transportation product_tag-hot-deal last instock shipping-taxable purchasable product-type-simple">
                                                <a href="#" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                    <img width="320" height="260" src="~/Media/@Model.Offers.Image" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="@Model.Offers.Image 320w, @Model.Offers.Image 300w" sizes="(max-width: 320px) 100vw, 320px" /><h2 class="woocommerce-loop-product__title">@Model.Offers.Title</h2>
                                                    <span class="price">FREE</span>
                                                </a><small class="wcvendors_sold_by_in_loop">Sold By : Plan My</small><br />
                                                <a href="/product/travel-bureau-the-honeymoon-mega-discount/?add-to-cart=4682" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="4682" data-product_sku="" aria-label="Add &ldquo;Rent the perfect car&rdquo; to your cart" rel="nofollow">Add to cart</a>
                                            </li>


                                        </ul>

                                    </section>

                                </div>

                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </div>
                <div class="post-next-prev"><div class="row">
    @if (Model.PreviousPage != null)
    {
        <div class="col-md-6 col-sm-6 prev-post">
                    <span>
                        <a href="Offers/Details/@Model.PreviousPage.Id" class="link-prev-next"><i class="fa fa-angle-double-left"></i>Previous </a><h3>
                        <a href="Offers/Details/@Model.PreviousPage.Id" title="@Model.PreviousPage.Id" class="link">@Model.PreviousPage.Id</a></h3></span></div>
    } </div></div>
    
                <div class="post-author">
                    <div class="row">
                        <div class="author-pic col-md-3">
                            <a href="#"><img alt='' src='~/Media/@Model.Offers.Image' srcset='@Model.Offers.Image 2x' class='avatar img-responsive img-circle avatar-200 photo' height='200' width='200' /></a>
                        </div>
                        <div class="author-info col-md-9">
                            <div class="author-bio">
                                <div class="author-name">
                                    <!-- author name -->
                                    <h2><a href="#">admin</a> <strong class="author-role">( Author )</strong></h2>
                                </div>
                                <p>No description.Please update your profile.</p>
                                <a href="#" class="btn tp-btn-default">view all post</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div><!-- #main -->
           </div>
         </div>
    </div>

