@model IEnumerable<DAL.VendorTypeValue>

@{
    ViewData["Title"] = "Vendor";
    ViewData["Description"] = "Vendor Type Values";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var parms = new Dictionary<string, string>
    {
        { "typeId", ViewBag.TypeId }
    };
}

<p>
    <a asp-action="Create" asp-all-route-data="parms" class="btn btn-primary">Create New</a>
</p>
<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
