@using Microsoft.AspNetCore.Identity

@inject SignInManager<DAL.Users> SignInManager
@inject UserManager<DAL.Users> UserManager

<ul class="nav nav-pills nav-justified listnone">
    <li id="dashboard" class="active"><a href="@Url.Action("Index","Dashboard",new { area = "" })"><i class="fa fa-dashboard db-icon"></i>Dashboard</a></li>
    <li id="checklist"><a href="@Url.Action("CheckList","Dashboard",new { area = "" })"><i class="fa fa-list db-icon"></i>Checklist</a></li>
    <li id="budget"><a href="@Url.Action("MyBudget","Dashboard",new { area = "" })"><i class="fa fa-calculator db-icon"></i>My Budget</a></li>
    <li id="wishlist"><a href="@Url.Action("WishList","Dashboard",new { area = "" })"><i class="fa fa-heart db-icon"></i>My Wishlist</a></li>
    <li id="guestlist"><a href="@Url.Action("GuestList","Dashboard",new { area = "" })"><i class="fa fa-list db-icon"></i>Guest List</a></li>
    <li id="seatingchart"><a href="@Url.Action("SeatingChart","Dashboard",new { area = "" })"><i class="fa fa-list db-icon"></i>Seating Chart</a></li>
    <li><a href="~/Identity/Account/Manage"><i class="fa fa-user db-icon"></i>My Profile</a></li>
</ul>

