@inject DAL.DbWebContext context
@{ 
    var pages = context.Pages;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Plan My &#8211; Start planing my&#8230;</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel='stylesheet' id='weddingvendor-style-css' href='~/css/style.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='~/css/bootstrap.min.css?ver=3.3.5' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-custom-style-css' href='~/css/custom-style.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-menumaker-css' href='~/css/menumaker.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-animate-css' href='~/css/animate.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='flaticon-css' href='~/css/flaticon.css?ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='fontello-css' href='~/css/fontello.css?ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-owl-carousel-css' href='~/css/owl.carousel.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-min-css' href='~/css/font-awesome.min.css?ver=4.5.0' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-style-css' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/jquery-ui.css?ver=5.1.7' type='text/css' media='all' />

    <script type='text/javascript' src='~/js/ajax-auth-script.js?ver=4.8.7'></script>
    <script type='text/javascript' src='~/js/jquery.validate.js?ver=4.8.7'></script>
    <script type='text/javascript' src='~/js/menumaker.js?ver=4.8.7'></script>
    <link rel="canonical" href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <style type="text/css">
        html body {
            background-color: #292624;
            font-family: Istok Web !important;
            font-weight: 400,400italic,700,700italic;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family:'Century Gothic', sans-serif;
        }

        h1 {
            font-size: 30px;
            font-weight: 400;
            color: #fff;
        }

        h2 {
            font-size: 22px;
            font-weight: 400;
            color: #fff;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
            color: #323634;
        }

        h4 {
            font-size: 16px;
            font-weight: 400;
            color: #323634;
        }

        p {
            font-size: 16px;
            font-family: 'Century Gothic', sans-serif ;
            font-weight: 400;
            color: #706a68;
        }

        a {
            color: #565656;
            text-decoration: none;
        }

            a:hover {
                color: #00aeaf;
                text-decoration: none;
            }

        .top-bar {
            background-color: #dddddd;
        }

        .tp-nav, .tp-nav .navbar-default {
            background-color: #ffffff;
            border-color: #ffffff;
        }

        .top-message p {
            color: #000000;
        }

        .top-links li a {
            color:#fff;
        }

            .top-links li a:hover {
                color: #000000;
            }

        .tp-nav .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, #cssmenu > ul > li > a {
            background-color: transparent;
            color:darkgray;
        }

        #cssmenu ul ul li a {
            background: #faf9f5;
            color: #3c3634;
        }

            .tp-nav .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
                color: #00aeaf !important;
                background-color: #ffffff;
            }

        .tp-nav .navbar-default .navbar-nav > li > a {
            color: #000000;
        }

        .tp-nav .navbar-right .dropdown-menu {
            background-color: #faf9f5;
        }

        .tp-nav .dropdown-menu > .active > a, .tp-navigation .dropdown-menu > .active > a:focus, .tp-navigation .dropdown-menu > .active > a:hover {
            background-color: #faf9f5;
        }

        #cssmenu ul ul li.has-sub > a:before, #cssmenu ul ul li.has-sub > a:after {
            background: #3c3634;
        }

        .top-nav-collapse {
            background: #ffffff;
        }

        .tp-btn-default {
            color: #ffffff;
            background-color: #04d7d8;
        }

            .tp-btn-default:hover {
                color: #ffffff;
                background-color: #04cccd;
            }

        .tp-btn-primary {
            color: #ffffff;
            background-color: #f9a630;
        }

            .tp-btn-primary:hover {
                color: #ffffff;
                background-color: #ffb751;
            }

        .footer {
            background-color: #322e2c;
        }

            .footer h2 {
                color: #fff;
            }

            .footer p {
                color: #706a68;
            }

            .footer .ft-link ul li a, .social-icon ul li a {
                color: #706a68;
            }

                .footer .ft-link ul li a:hover, .social-icon ul li a:hover {
                    color: #00aeaf;
                }


        .tiny-footer {
            background-color: #292624;
            color: #403d3b;
        }

            .tiny-footer p {
                color: #403d3b;
            }

        .caption h1 {
            color: #ffffff;
        }

        .caption p {
            color: #ffffff;
        }

        .owl-theme .owl-controls .owl-page span {
            background: #f9a630;
        }

        .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
            background-color: #00aeaf;
        }

        .tp-footer .ft-links ul li a:hover, .tp-tiny-footer .tp-social-icon ul li a:hover, .tp-tiny-footer .tp-social-icon ul li a:active {
            color: #f9a630;
        }
    </style>



    <!-- Jetpack Open Graph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Plan My" />
    <meta property="og:description" content="Start planing my..." />
    <meta property="og:url" content="~/" />
    <meta property="og:site_name" content="Plan My" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:text:title" content="Home" />
    <meta name="twitter:card" content="summary" />






</head>
<body class="home page-template page-template-page-templates page-template-page-slider page-template-page-templatespage-slider-php page page-id-862 logged-in admin-bar no-customize-support">
    <partial name="_CookieConsentPartial" />
    <div class="collapse" id="searcharea">
        <form method="get" class="" action="/Search">
            <div class="input-group">
                <input type="text" name="s" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn tp-btn-primary" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 top-message">
                </div>
                <div class="col-md-6 top-links">
                    <div class="menu-topbar-container">
                        <ul id="menu-topbar" class="listnone">
                            <li><a href="~/Identity/Account/Manage"><i class="fa fa-user db-icon"></i>My Profile</a></li>
                            <li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1518"><a href="@Url.Action("Index","Contactus",new { area = "" })">Contact Us</a></li>

                            <partial name="_LoginPartial" />

                            <li><a role="button" data-toggle="collapse" href="#searcharea" aria-expanded="false" aria-controls="searcharea"> <i class="fa fa-search"></i> </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="tp-nav" id="headersticky">
        <!-- navigation start -->
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">


                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })" rel="home">
                        <img src="~/images/planmy-logo-ws-3.png" alt="Plan My" class="img-responsive">

                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navigation">
                    <div class="" id="cssmenu">
                        <ul id="menu-primary_menu" class="nav navbar-nav navbar-right">
                            <li id="menu-item-1374" class="dropdown-togglemenu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1374 has-sub">
                                <span class="submenu-button"></span><a href="~/Dashboard" class="dropdown-toggle" data-toggle="dropdown">Planning Tools <span class="fa fa-angle-down"></span></a>
                                <ul>
                                    <li> <a href="~/Dashboard/CheckList">Checklist</a></li>
                                    <li> <a href="~/Dashboard/MyBudget">My Budget</a></li>
                                    <li> <a href="~/Dashboard/WishList">My Wishlist</a></li>
                                    <li> <a href="~/Dashboard/GuestList">Guest List</a></li>
                                    <li> <a href="~/Dashboard/SeatingChart">Seating Chart</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-1220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1220"><a href="@Url.Action("Index","Venues",new { area = "" })">Venues</a></li>
                            <li id="menu-item-960" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-960"><a href="@Url.Action("Index","Vendors",new { area = "" })">Vendors</a></li>
                            <li id="menu-item-4802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4802"><a href="@Url.Action("Index","Inspirations",new { area = "" })">Inspirations</a></li>
                            <li id="menu-item-4671" class="dropdown-togglemenu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4671 has-sub"><a href="@Url.Action("Index","Offers",new { area = "" })">Offers<span class="fa fa-angle-down"></span></a>
                                <ul>
                                    <li> <a href="@Url.Action("Index","Offers",new { area = DAL.OffersType.EShop })">E-Shop</a></li>
                                    <li> <a href="@Url.Action("Index","Offers",new { area = DAL.OffersType.HotDeals })">Hot Deals</a></li>
                                    <li> <a href="@Url.Action("Index","Offers",new { area = DAL.OffersType.Bundles })">Bundles</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>      <!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
        <!-- /.container-fluid -->
    </div>



    @RenderBody()

    

    @RenderSection("Scripts", required: false)
    <div class="footer">
        <!-- Footer -->
        <div class="container">
            <div class="row">
                @*<div class="col-md-5 ft-aboutus">
        <div id="text-6" class="widget widget_text">
            <h2>Plan my</h2>			<div class="textwidget">
                <p style="font-size:16px;">
                    We provide the largest network of local event vendors. We simplify the pricing, booking, availability and help you get answers you need from venues and vendors in every town.
                    </p>
            <p style="font-size:16px;">
                We also provide free, easy-to-use event planning tools like customizable checklists to keep your tasks in order, a budget calculator and a guest list monitor.
            </p>
            <p style="font-size:16px;">
                Stay on top of all the details while on-the-go with Planmy app, which features a customized profile and a countdown to your big day.
            </p>
                <p><a class="btn tp-btn-default tp-btn-lg" href="#">Start browsing!</a></p>
            </div>
        </div>
            </div>*@
                <div class="col-md-3 ft-link">
                    <div id="text-7" class="widget widget_text">
                        <h2>Useful links</h2>
                        <div class="textwidget">
                            <ul class="listnone">
                                @foreach (var row in pages)
                                {
                                    <li><a href="/pages/@row.Title">@row.Title</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 newsletter">
                    <div id="text-8" class="widget widget_text">
                        <h2>Be Social &#038; Stay Connected</h2>
                        <div class="textwidget">
                            <div class="social-icon">
                                <ul class="listnone">
                                    <li><a href="https://www.facebook.com/planmy.me/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="https://www.instagram.com/planmy.me/" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.Footer -->
    <div class="tiny-footer">
        <!-- Tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Copyright &copy; @DateTime.Now.Year . All Rights Reserved
                </div>
            </div>
        </div>
    </div><!-- /. Tiny Footer -->

    <script type='text/javascript' src='https://planmy.me/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/masonry.min.js?ver=3.3.2'></script>


    <script type='text/javascript' src='~/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.sticky.js'></script>
    <script type='text/javascript' src='~/js/owl-script.js'></script>
    <script type='text/javascript' src='~/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/js/skip-link-focus-fix.js?ver=20151215'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        jQuery(document).ready(function (jQuery) { jQuery.datepicker.setDefaults({ "closeText": "Close", "currentText": "Today", "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "nextText": "Next", "prevText": "Previous", "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"], "dateFormat": "MM d, yy", "firstDay": 1, "isRTL": false }); });
    </script>
    <script type='text/javascript' src='~/js/custom-script.js'></script>
    <script type='text/javascript' src='https://planmy.me/wp-content/plugins/comments-ratings/js/jquery.raty.js?ver=1.1.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pixreviews = { "hints": ["Terrible", "Poor", "Average", "Very Good", "Exceptional"] };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://planmy.me/wp-content/plugins/comments-ratings/js/reviews.js?ver=1.1.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wcfm_enquiry_manage_messages = { "no_name": "Name is required.", "no_email": "Email is required.", "no_enquiry": "Please insert your Inquiry before submit.", "no_reply": "Please insert your reply before submit.", "enquiry_saved": "Your inquiry successfully sent.", "enquiry_published": "Inquiry reply successfully published.", "enquiry_reply_saved": "Your reply successfully sent." };
        /* ]]> */
    </script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        if ($('.owl-theme').hasClass('main-slider')) {
            $(document).ready(function () {
                $('.main-slider').owlCarousel({
                                rtl: false,
                    loop: true,
                    dots: true,
                    autoplayTimeout: '7000',
                    responsive: {
                                        0: {
                                        items: 1
                                        },
                        600: {
                                        items: 1
                        },
                        1000: {
                                        items: 1
                        }
                                    },
                    addClassActive: true,
                    autoplay: true,
                    animateIn: 'fadeIn', animateOut: 'fadeOut',
                });
                            });
        }
    </script>
    <!--[if lte IE 8]>
        <script type="text/javascript">
            document.body.className = document.body.className.replace( /(^|\s)(no-)?customize-support(?=\s|$)/, '' ) + ' no-customize-support';
        </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript">
        (function () {
            var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?' + cs + '(\\s+|$)');

                            request = true;

            b[c] = b[c].replace(rcs, ' ');
                            // The customizer requires postMessage and CORS (if the site is cross domain)
                            b[c] += (window.postMessage && request ? ' ' : ' no-') + cs;
        }());
    </script>
    <!--<![endif]-->
    @*<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCC3X5E4_vmPKudvIbhaW__GFxVgJ18aw0",
                authDomain: "weddexapp-f3dc0.firebaseapp.com",
                databaseURL: "https://weddexapp-f3dc0.firebaseio.com",
                projectId: "weddexapp-f3dc0",
                storageBucket: "weddexapp-f3dc0.appspot.com",
                messagingSenderId: "789765617026"
            };
            firebase.initializeApp(config);
            const messaging = firebase.messaging();
            messaging.requestPermission()
                .then(function () {
                    console.log('Notification permission granted.');
                    if (isTokenSentToServer()) {
                        console.log('Token already saved.');
                    }
                    else {
                        getRegToken();
                    }
                })
                .catch(function (err) {
                    console.log('Unable to get permission to notify.', err);
                });
            function getRegToken(argument) {
                messaging.getToken().then(function (currentToken) {
                    if (currentToken) {
                        saveToken(currentToken);
                        console.log(currentToken);
                        setTokenSentToServer(true);
                    }
                    else {
                        console.log('No Instance ID token available. Request permission to generate one.');
                        setTokenSentToServer(false);
                    }
                })
                    .catch(function (err) {
                        console.log('An error occured while retrieving token. ', err);
                        setTokenSentToServer(false);
                    });
            }
            function setTokenSentToServer(sent) {
                window.localStorage.setItem('sentToServer', (sent ? 1 : 0));
            }
            function isTokenSentToServer() {
                return window.localStorage.getItem('sentToServer') == 1;
            }
            function saveToken(currentToken) {
                window.localStorage.setItem("Token", currentToken);
                $.post("/maizonpub-api/add_device.php", { token: currentToken, device: 'Web', action: 'insertdevice' }, function (result) { });
            }
            messaging.onMessage(function (payload) {
                console.log('Message received:' + payload.notification);
                notificationTitle = payload.notification.title;
                notificationOptions = {
                    body: payload.notification.body,
                    icon: "https://weddexonline.com/wp-content/uploads/2017/10/logo_header6.png"
                };
                var notification = new Notification(notificationTitle, notificationOptions);
                notification.onclick = function () {
                    var myWindow = window.open("https://weddexonline.com/dashboard", "_blank");
                    myWindow.focus();
                };
            });
        </script>*@

</body>
</html>
