@using Microsoft.AspNetCore.Identity

@inject SignInManager<DAL.Users> SignInManager
@inject UserManager<DAL.Users> UserManager

@{
    var user = await SignInManager.UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <title> Dashboard &#8211; Plan My</title>
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/planmy.me\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.7" } };
        !function (a, b, c) { function d(a) { var b, c, d, e, f = String.fromCharCode; if (!k || !k.fillText) return !1; switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) { case "flag": return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 56826, 8203, 55356, 56819), 0, 0), c = j.toDataURL(), b !== c && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447), 0, 0), c = j.toDataURL(), b !== c); case "emoji4": return k.fillText(f(55358, 56794, 8205, 9794, 65039), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55358, 56794, 8203, 9794, 65039), 0, 0), e = j.toDataURL(), d !== e }return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d"); for (i = Array("flag", "emoji4"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <style id='woocommerce-layout-inline-css' type='text/css'>

        .infinite-scroll .woocommerce-pagination {
            display: none;
        }
    </style>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='weddingvendor-style-css' href='~/style.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='~/css/bootstrap.min.css?ver=3.3.5' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-custom-style-css' href='~/css/custom-style.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-menumaker-css' href='~/css/menumaker.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-animate-css' href='~/css/animate.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='flaticon-css' href='~/css/flaticon.css?ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='fontello-css' href='~/css/fontello.css?ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='weddingvendor-owl-carousel-css' href='~/css/owl.carousel.css?ver=4.8.7' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-min-css' href='~/css/font-awesome.min.css?ver=4.5.0' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-style-css' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/jquery-ui.css?ver=5.1.7' type='text/css' media='all' />
    <script type='text/javascript' src='~/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/js/ajax-auth-script.js?ver=4.8.7'></script>
    <script type='text/javascript' src='~/js/jquery.history.js?ver=4.8.7'></script>
    <script type='text/javascript' src='~/js/jquery.validate.js?ver=4.8.7'></script>
    <script type='text/javascript' src='~/js/menumaker.js?ver=4.8.7'></script>
    <style type='text/css'>
        img#wpstats {
            display: none
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <style type="text/css">
        html body {
            background-color: #292624;
            font-family: Istok Web !important;
            font-weight: 400,400italic,700,700italic;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Montserrat;
        }

        h1 {
            font-size: 30px;
            font-weight: 400;
            color: #fff;
        }

        h2 {
            font-size: 22px;
            font-weight: 400;
            color: #fff;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
            color: #323634;
        }

        h4 {
            font-size: 16px;
            font-weight: 400;
            color: #323634;
        }

        p {
            font-size: 16px;
            font-family: Istok Web;
            font-weight: 400;
            color: #706a68;
        }

        a {
            color: #565656;
            text-decoration: none;
        }

            a:hover {
                color: #00aeaf;
                text-decoration: none;
            }

        .top-bar {
            background-color: #dddddd;
        }

        .tp-nav, .tp-nav .navbar-default {
            background-color: #ffffff;
            border-color: #ffffff;
        }

        .top-message p {
            color: #000000;
        }

        .top-links li a {
            color: #000000;
        }

            .top-links li a:hover {
                color: #ffffff;
            }

        .tp-nav .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, #cssmenu > ul > li > a {
            background-color: transparent;
            color: #000000;
        }

        #cssmenu ul ul li a {
            background: #faf9f5;
            color: #3c3634;
        }

            .tp-nav .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
                color: #00aeaf !important;
                background-color: #ffffff;
            }

        .tp-nav .navbar-default .navbar-nav > li > a {
            color: #000000;
        }

        .tp-nav .navbar-right .dropdown-menu {
            background-color: #faf9f5;
        }

        .tp-nav .dropdown-menu > .active > a, .tp-navigation .dropdown-menu > .active > a:focus, .tp-navigation .dropdown-menu > .active > a:hover {
            background-color: #faf9f5;
        }

        #cssmenu ul ul li.has-sub > a:before, #cssmenu ul ul li.has-sub > a:after {
            background: #3c3634;
        }

        .top-nav-collapse {
            background: #ffffff;
        }

        .tp-btn-default {
            color: #ffffff;
            background-color: #04d7d8;
        }

            .tp-btn-default:hover {
                color: #ffffff;
                background-color: #04cccd;
            }

        .tp-btn-primary {
            color: #ffffff;
            background-color: #f9a630;
        }

            .tp-btn-primary:hover {
                color: #ffffff;
                background-color: #ffb751;
            }

        .footer {
            background-color: #322e2c;
        }

            .footer h2 {
                color: #fff;
            }

            .footer p {
                color: #706a68;
            }

            .footer .ft-link ul li a, .social-icon ul li a {
                color: #706a68;
            }

                .footer .ft-link ul li a:hover, .social-icon ul li a:hover {
                    color: #00aeaf;
                }


        .tiny-footer {
            background-color: #292624;
            color: #403d3b;
        }

            .tiny-footer p {
                color: #403d3b;
            }

        .caption h1 {
            color: #ffffff;
        }

        .caption p {
            color: #ffffff;
        }

        .owl-theme .owl-controls .owl-page span {
            background: #f9a630;
        }

        .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
            background-color: #00aeaf;
        }

        .tp-footer .ft-links ul li a:hover, .tp-tiny-footer .tp-social-icon ul li a:hover, .tp-tiny-footer .tp-social-icon ul li a:active {
            color: #f9a630;
        }
    </style>


</head>
<body class="page-template page-template-page-templates page-template-couple-dashboard page-template-page-templatescouple-dashboard-php page page-id-818 logged-in woocommerce-no-js">
    <div class="collapse" id="searcharea">
        <form method="get" class="" action="#">
            <div class="input-group">
                <input type="text" name="s" class="form-control" value="" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn tp-btn-primary" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.top search -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 top-message">

                </div>
                <div class="col-md-6 top-links">
                    <div class="menu-topbar-container">
                        <ul id="menu-topbar" class="listnone">
                            <li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1518"><a href="#">Contact Us</a></li>
                            <li id="menu-item-5576" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5576"><a href="#">Cart</a></li>
                            <li><a href="#">Logout</a></li>
                            <li><a role="button" data-toggle="collapse" href="#searcharea" aria-expanded="false" aria-controls="searcharea"> <i class="fa fa-search"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tp-nav" id="headersticky">
        <!-- navigation start -->
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <a class="navbar-brand" href="~/" rel="home">
                        <img src="~/images/planmy-logo-ws-2.png" alt="Plan My" class="img-responsive">
                    </a>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navigation">
                    <div class="" id="cssmenu">
                        <ul id="menu-primary_menu" class="nav navbar-nav navbar-right">
                            <li id="menu-item-929" class="dropdown-togglemenu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-929">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Planning Tools <span class="fa fa-angle-down"></span></a>
                                <ul>
                                    <li> <a href="~/Dashboard/CheckList">Checklist</a></li>
                                    <li> <a href="~/Dashboard/MyBudget">My Budget</a></li>
                                    <li> <a href="~/Dashboard/WishList">My Wishlist</a></li>
                                    <li> <a href="~/Dashboard/GuestList">Guest List</a></li>
                                    <li> <a href="~/Dashboard/SeatingChart">Seating Chart</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-1220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1220"><a href="@Url.Action("Index","Venues",new { area = "" })">Venues</a></li>
                            <li id="menu-item-960" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-960"><a href="@Url.Action("Index","Vendors",new { area = "" })">Vendors</a></li>
                            <li id="menu-item-4802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4802"><a href="@Url.Action("Index","Inspirations",new { area = "" })">Inspirations</a></li>
                            <li id="menu-item-1201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1201"><a href="#">Wedding List</a></li>
                            <li id="menu-item-4671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4671"><a href="@Url.Action("Index","Offers",new { area = "" })">Offers</a></li>
                        </ul>
                    </div>      <!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
        <!-- /.container-fluid -->
    </div>
    <div class="tp-dashboard-head">
        <!-- page header -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 profile-header">
                    <div class="profile-pic col-md-2"><img src="http://weddexonline.com/wp-content/uploads/2018/02/7a8df-11-2-290x290.png" alt="" class="img-responsive img-circle"></div>
                    <div class="profile-info col-md-9">
                        <h1 class="profile-title">@user.FirstName<small>Welcome Back  @user.UserName</small></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page header -->
    <div class="tp-dashboard-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 dashboard-nav">
                    <partial name="_DashboardMenuPartial" />
                    
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <div class="footer">
        <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 ft-aboutus">
                    <div id="text-6" class="widget widget_text">
                        <h2>Plan my</h2>			<div class="textwidget">
                            <p style="font-size:16px;">
                                From the smallest last minute forgotten detail, to creating your whole event, Plan my is your go to App
                            </p>
                            <p><a class="btn tp-btn-default tp-btn-lg" href="#">Start browsing!</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ft-link">
                    <div id="text-7" class="widget widget_text">
                        <h2>Useful links</h2>			<div class="textwidget">
                            <ul class="listnone">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Inspirations</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 newsletter">
                    <div id="text-8" class="widget widget_text">
                        <h2>Be Social &#038; Stay Connected</h2>			<div class="textwidget">
                            <div class="social-icon">
                                <ul class="listnone">
                                    <li><a href="https://www.facebook.com/planmy.me/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="https://www.instagram.com/planmy.me/" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.Footer -->
    <div class="tiny-footer">
        <!-- Tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Copyright &copy; @DateTime.Now.Year . All Rights Reserved
                </div>
            </div>
        </div>
    </div><!-- /. Tiny Footer -->

    <script type='text/javascript' src='https://planmy.me/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/masonry.min.js?ver=3.3.2'></script>


    <script type='text/javascript' src='~/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.sticky.js'></script>
    <script type='text/javascript' src='~/js/owl-script.js'></script>
    <script type='text/javascript' src='~/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/js/skip-link-focus-fix.js?ver=20151215'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://planmy.me/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        jQuery(document).ready(function (jQuery) { jQuery.datepicker.setDefaults({ "closeText": "Close", "currentText": "Today", "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "nextText": "Next", "prevText": "Previous", "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"], "dateFormat": "MM d, yy", "firstDay": 1, "isRTL": false }); });
    </script>
    <script type='text/javascript' src='~/js/custom-script.js'></script>
    <script type='text/javascript' src='https://planmy.me/wp-content/plugins/comments-ratings/js/jquery.raty.js?ver=1.1.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pixreviews = { "hints": ["Terrible", "Poor", "Average", "Very Good", "Exceptional"] };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://planmy.me/wp-content/plugins/comments-ratings/js/reviews.js?ver=1.1.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wcfm_enquiry_manage_messages = { "no_name": "Name is required.", "no_email": "Email is required.", "no_enquiry": "Please insert your Inquiry before submit.", "no_reply": "Please insert your reply before submit.", "enquiry_saved": "Your inquiry successfully sent.", "enquiry_published": "Inquiry reply successfully published.", "enquiry_reply_saved": "Your reply successfully sent." };
        /* ]]> */
    </script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        if ($('.owl-theme').hasClass('main-slider')) {
            $(document).ready(function () {
                $('.main-slider').owlCarousel({
                    rtl: false,
                    loop: true,
                    dots: true,
                    autoplayTimeout: '7000',
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 1
                        },
                        1000: {
                            items: 1
                        }
                    },
                    addClassActive: true,
                    autoplay: true,
                    animateIn: 'fadeIn', animateOut: 'fadeOut',
                });
            });
        }
    </script>
    <!--[if lte IE 8]>
        <script type="text/javascript">
            document.body.className = document.body.className.replace( /(^|\s)(no-)?customize-support(?=\s|$)/, '' ) + ' no-customize-support';
        </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript">
        (function () {
            var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?' + cs + '(\\s+|$)');

            request = true;

            b[c] = b[c].replace(rcs, ' ');
            // The customizer requires postMessage and CORS (if the site is cross domain)
            b[c] += (window.postMessage && request ? ' ' : ' no-') + cs;
        }());
    </script>
    <!--<![endif]-->
    @*<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCC3X5E4_vmPKudvIbhaW__GFxVgJ18aw0",
                authDomain: "weddexapp-f3dc0.firebaseapp.com",
                databaseURL: "https://weddexapp-f3dc0.firebaseio.com",
                projectId: "weddexapp-f3dc0",
                storageBucket: "weddexapp-f3dc0.appspot.com",
                messagingSenderId: "789765617026"
            };
            firebase.initializeApp(config);
            const messaging = firebase.messaging();
            messaging.requestPermission()
                .then(function () {
                    console.log('Notification permission granted.');
                    if (isTokenSentToServer()) {
                        console.log('Token already saved.');
                    }
                    else {
                        getRegToken();
                    }
                })
                .catch(function (err) {
                    console.log('Unable to get permission to notify.', err);
                });
            function getRegToken(argument) {
                messaging.getToken().then(function (currentToken) {
                    if (currentToken) {
                        saveToken(currentToken);
                        console.log(currentToken);
                        setTokenSentToServer(true);
                    }
                    else {
                        console.log('No Instance ID token available. Request permission to generate one.');
                        setTokenSentToServer(false);
                    }
                })
                    .catch(function (err) {
                        console.log('An error occured while retrieving token. ', err);
                        setTokenSentToServer(false);
                    });
            }
            function setTokenSentToServer(sent) {
                window.localStorage.setItem('sentToServer', (sent ? 1 : 0));
            }
            function isTokenSentToServer() {
                return window.localStorage.getItem('sentToServer') == 1;
            }
            function saveToken(currentToken) {
                window.localStorage.setItem("Token", currentToken);
                $.post("/maizonpub-api/add_device.php", { token: currentToken, device: 'Web', action: 'insertdevice' }, function (result) { });
            }
            messaging.onMessage(function (payload) {
                console.log('Message received:' + payload.notification);
                notificationTitle = payload.notification.title;
                notificationOptions = {
                    body: payload.notification.body,
                    icon: "https://weddexonline.com/wp-content/uploads/2017/10/logo_header6.png"
                };
                var notification = new Notification(notificationTitle, notificationOptions);
                notification.onclick = function () {
                    var myWindow = window.open("https://weddexonline.com/dashboard", "_blank");
                    myWindow.focus();
                };
            });
        </script>*@

</body>
</html>
