@model IEnumerable<DAL.VendorItemCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.VendorCategory)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VendorItem)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => item.VendorCategory.Id)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => item.VendorItem.Id)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>

        </div>
    </div>

