@model DAL.VendorItem

@{
    ViewData["Title"] = "Details";
}
<style>
    html body {
        background-color: #faf9f5;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }
</style>

@foreach (var row in Model.Gallery)
{
    <div class="slider-pic"><img width="1900" height="487" src="~/Media/@row.Image" class="img-responsive wp-post-image" alt="" srcset="@Model.Thumb 1900w, @Model.Thumb 570w, @Model.Thumb 300w, @Model.Thumb 768w, @Model.Thumb 1024w" sizes="(max-width: 1900px) 100vw, 1900px" /></div>}


    <div class="tp-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb listnone">
                        <li>
                            <!-- Breadcrumb NavXT 6.2.1 -->
                            <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Plan My." href="~/" class="home"><span property="name">Plan My</span></a><meta property="position" content="1"></span> &gt; <span class="post post-item current-item">@Model.Title</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>



    <div class="container venue-header">
        <div class="row venue-head">
            <div class="col-md-12 title">
                @if (Model.Categories != null && Model.Categories.Count() > 0)
                {
                <a href="#" class="label-primary">@Model.Categories.FirstOrDefault().VendorCategory.Title</a>
                }
                <h1 class="item_title">@Model.Title</h1>
                <p class="location">
                    <i class="fa fa-map-marker"></i> @Model.Address     <br /><i class="fa fa-phone"></i>       <br /><i class="fa fa-envelope"></i> @Model.Email     <br />
                </p>
            </div>

            <div class="col-md-12 venue-action"> <a href="#googleMap" class="btn tp-btn-primary">VIEW MAP</a> <a href="#inquiry" class="btn tp-btn-default">Book Now</a> </div>
        </div>
    </div>


    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 page-description">
                    <div class="venue-details">
                        <h2>@Model.Title</h2>
                        <p>
                            @Model.HtmlDescription
                        </p>
                        <p>@Model.HtmlDescription</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 venue-amenities">

                        </div>
                    </div>
                    <!-- comments -->

                    <div id="comments" class="comments-area post-comments single_item">
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">User Review <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>			<form action="#" method="post" id="commentform" class="leave-comments" novalidate>
                                <p class="comment-form-comment"><label for="comment">Your Review</label> <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required="required" placeholder="Tell about your experience or leave a tip for others"></textarea></p><div class="form-group"><div class="col-md-12"><label for="author" class="control-label">Name</label><input id="author" name="author" type="text" value="" aria-required="true" class="form-control" /></div></div>
                                <div class="form-group"><div class="col-md-12"><label for="email" class="control-label">Email</label><input class="form-control" id="email" name="email" type="text" value="" aria-required="true" /></div></div>
                                <div class="form-group"><div class="col-md-12"><label for="subject" class="control-label">Subject</label><input class="form-control" id="subject" name="subject" type="text" value="" aria-required="true" /></div></div>
                                <p class="comment-subscription-form"><input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" /> <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label></p>
                                <div id="add_comment_rating_wrap">
                                    <label for="add_post_rating">Your overall rating of this listing:</label>

                                    <div id="add_post_rating" data-pixrating="4" data-assets_path="#"></div>
                                </div>
                                <p class="review-title-form">
                                    <label for="pixrating_title">Title of your review:</label>
                                    <input type='text' id='pixrating_title' name='pixrating_title' value="" placeholder="Summarize your opinion or highlight an interesting detail" size='25' />
                                </p>

                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" class="btn tp-btn-primary tp-btn-lg" value="Submit Review" /> <input type='hidden' name='comment_post_ID' value='521' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="46b205dd2f" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="223" /></p>
                            </form>
                        </div><!-- #respond -->
                    </div><!-- #comments -->
                    <!-- /.comments -->
                </div>
                <div class="col-md-4 page-sidebar">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="venue-info">

                            </div>-->
                        </div>


                        <div class="col-md-12">
                            <div class="well-box" id="inquiry">
                                <h2>Send Enquiry to Vendor</h2>
                                <p>Fill in your details and a Venue Specialist will get back to you shortly.</p>
                                <form class="ajax-auth" id="book-now-box" method="post">
                                    <input type="hidden" id="security" name="security" value="240bbf1a73" /><input type="hidden" name="_wp_http_referer" value="/item/happy-modeling-studio/" />
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="control-label" for="name">Name:<span class="required">*</span></label>
                                        <div class="">
                                            <input id="name" name="name" type="text" minlength="6" placeholder="Name" class="form-control input-md" required>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="control-label" for="phone">Phone:<span class="required">*</span></label>
                                        <div class="">
                                            <input id="phone" name="phone" type="text" minlength="10" minlength="12" placeholder="Phone" class="form-control input-md" required>
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email:<span class="required">*</span></label>
                                        <div class="">
                                            <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required>
                                        </div>
                                    </div>

                                    <!-- Select Basic -->
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="control-label" for="date">Date:<span class="required">*</span></label>
                                        <div class="">
                                            <input id="date" name="date" type="text" readonly="readonly" placeholder="Select Date" class="form-control input-md check_book_date book_date" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="guest">Number of Guests:<span class="required">*</span></label>
                                        <div class="">
                                            <select id="guest" name="guest" class="form-control">
                                                <option value="1 to 50">1 to 50</option>
                                                <option value="51 to 100">51 to 100</option>
                                                <option value="101 to 200">101 to 200</option>
                                                <option value="201 to 500">201 to 500</option>
                                                <option value="501 to more">501 to more</option>
                                            </select>
                                            <input type="hidden" id="user_email_id" value="info@maizonpub.com" />
                                        </div>
                                    </div>
                                    <!-- Multiple Radios -->
                                    <div class="form-group">
                                        <label class="control-label">Send me info via</label>
                                        <div class="checkbox checkbox-success">
                                            <input type="checkbox" name="sendme" id="checkbox-0" value="Email" class="styled">
                                            <label for="checkbox-0" class="control-label">Email</label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                            <input type="checkbox" name="sendme" id="checkbox-1" value="Call" class="styled">
                                            <label for="checkbox-1" class="control-label"> Need Call back </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="book-now-on" id="book-now-on" value="Book Now" class="btn tp-btn-default tp-btn-lg btn-block" />
                                    </div>
                                    <div class="status"></div>
                                </form>
                            </div>
                        </div>          
                                <!-- SIDEBAR USERPIC -->
                                <!--<div class="profile-usertitle">
                                  <div class="profile-usertitle-name">
                                    <h2></h2>
                                  </div>

                                </div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    <div class="col-md-12 tp-title">
        <h1>Offers by&nbsp;@Model.Title</h1>
        @foreach (var offer in Model.User.Offers)
        {
            <div class="col-md-4 vendor-box">
                <!-- venue box start-->
                <div class="vendor-image">
                    <!-- venue pic -->
                    <a href="#">
                        <img width="440" height="290" src="~/Media/@offer.Image" class="img-responsive wp-post-image" alt="" />
                    </a>
                </div>
                <!-- /.venue pic -->
                <div class="vendor-detail">
                    <!-- venue details -->
                    <div class="caption">
                        <!-- caption -->
                        <h2><a href="#" class="title">@offer.Title</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> @(offer.SalePrice!=null && offer.SalePrice!=0?offer.SalePrice:offer.Price)</p>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- venue details -->
            </div>
        }
    </div>

<div id="googleMap" class="map"></div>
 <div class="spacer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 tp-title">
                    <h1>Recommended for&nbsp;@Model.Categories </h1>
                </div>
                @foreach (var row in Model.Categories)
                {
                    foreach (var item in row.VendorCategory.Categories.Where(x=>x.VendorItem.Id !=Model.Id))
                    {


                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#">
                            <img width="440" height="290" src="~/Media/@item.VendorItem.Thumb" class="img-responsive wp-post-image" alt="" />
                        </a>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="/vendor/Details/@Model.Id" class="title">@Model.Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> @Model.Address</p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- venue details -->
                </div>
                    }
                }
            </div>
        </div>
    </div>


