@model SingleVendorViewModel

@{
    ViewData["Title"] = "Details";
    string facebook = "", instagram = "", website = "";
    var reviews = Model.VendorItem.VendorItemReviews.Where(x => x.Status == DAL.ReviewStatus.Approved);
    if (!string.IsNullOrEmpty(Model.VendorItem.Facebook))
    {
        facebook = Model.VendorItem.Facebook.Contains("http") ? Model.VendorItem.Facebook : "https://" + Model.VendorItem.Facebook;
    }
    if (!string.IsNullOrEmpty(Model.VendorItem.Instagram))
    {
        instagram = Model.VendorItem.Instagram.Contains("http") ? Model.VendorItem.Instagram : "https://" + Model.VendorItem.Instagram;
    }
    if (!string.IsNullOrEmpty(Model.VendorItem.Website))
    {
        website = Model.VendorItem.Website.Contains("http") ? Model.VendorItem.Website : "https://" + Model.VendorItem.Website;
    }
}
<style>
    html body {
        background-color: #ffffff;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }

    #map-canvas {
        width: 100%;
        height: 300px;
        margin: 0px;
        padding: 0px
    }
    .item_title
    {
        color:black;
    }
    .venue-action {
        text-align: left !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        padding-left: 0px !important;
    }

    a {
        color: #5f5f9e;
        text-decoration: none;
        font-weight: 600;
    }
</style>



<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb listnone">
                    <li>
                        <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Plan My." href="~/" class="home"><span property="name">Plan My</span></a><meta property="position" content="1"></span> &gt; <span class="post post-item current-item">@Model.VendorItem.Title</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>




<br/>
<br/>

<div class="main-container" style="padding-top:0px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 page-description">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.VendorItem.Gallery.Count(); i++)
                        {
                            string isactive = i == 0 ? "active" : "";

                            <li data-target="#myCarousel" data-slide-to="@i" class="@isactive"></li>

                        }
                    </ol>
                    <div class="carousel-inner" role="listbox" style="height:400px;">
                        @for (int i = 0; i < Model.VendorItem.Gallery.Count(); i++)
                        {
                            string isactive = i == 0 ? "active" : "";
                            string filepath = Model.VendorItem.Gallery.ToList()[i].Image;
                            <div class="item @isactive">
                                <img src="~/Media/@filepath" class="img-responsive" />

                            </div>

                        }


                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="col-md-12 venue-action"> <a href="#map-canvas" class="btn tp-btn-primary">VIEW MAP</a> <a href="#inquiry" class="btn tp-btn-default">Book Now</a> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 title">

                            <h1 class="item_title">@Model.VendorItem.Title</h1>
                            <p class="location" style="font-family:'Century Gothic',sans-serif;">
                                <i @*class="fa fa-map-marker" *@></i>  @Model.VendorItem.Address     @if (!string.IsNullOrEmpty(Model.VendorItem.PhoneNumber))
                                {<br /><i @*class="fa fa-phone" *@></i> <a style="color:black;" href="tel:@Model.VendorItem.PhoneNumber">@Model.VendorItem.PhoneNumber </a>}@foreach (var branch in Model.VendorItem.VendorBranches)
                                {<br /><i @*class="fa fa-phone" *@></i> <a style="color:black;" href="tel:@branch.PhoneNumber">@branch.PhoneNumber </a>}      @if (!string.IsNullOrEmpty(Model.VendorItem.Email))
                                {<br /><i @*class="fa fa-envelope" *@><a style="color:black;" href="mailto:@Model.VendorItem.Email">@Model.VendorItem.Email  </a></i>}<br /> @if (!string.IsNullOrEmpty(website))
                                { <a style="color:black;" href="@website" target="_blank"><i class="fa fa-globe"></i></a>}  @if (!string.IsNullOrEmpty(facebook))
                                {<a style="color:black;" href="@facebook" target="_blank"> <i class="fa fa-facebook-official" @*style="font-size:25px !important" *@></i></a>} @if (!string.IsNullOrEmpty(instagram))
                                {
                                    <a style="color:black;" href="@instagram" target="_blank"><i class="fa fa-instagram" @*style="font-size:25px !important" *@> </i></a>} <br />
                            </p>
                        </div>


                    </div>
                </div>
                <div class="venue-details">
                    <h2 style="color:black">About</h2>
                    @if (!string.IsNullOrEmpty(Model.VendorItem.HtmlDescription)) { 
                    <p>@Html.Raw(Model.VendorItem.HtmlDescription)</p>
                    }

                </div>
                <div class="row">
                    <div class="col-md-12 venue-amenities">

                    </div>
                </div>
                <!-- comments -->

                <div id="comments" class="comments-area post-comments single_item">
                    @if (reviews.Count() > 0)
                    {
                        <h2 class="comments-title">
                            @reviews.Count() thoughts on “<span>@Model.VendorItem.Title</span>”
                        </h2>
                        <ul class="comment-list listnone mb30">
                            @foreach (var review in reviews)
                            {
                                string ratename = "";
                                switch (review.rating)
                                {
                                    case (int)DAL.ReviewRating.Terrible:
                                        ratename = "Terrible";
                                        break;
                                    case (int)DAL.ReviewRating.Poor:
                                        ratename = "Poor";
                                        break;
                                    case (int)DAL.ReviewRating.Average:
                                        ratename = "Average";
                                        break;
                                    case (int)DAL.ReviewRating.Very_Good:
                                        ratename = "Very Good";
                                        break;
                                    case (int)DAL.ReviewRating.Exceptional:
                                        ratename = "Exceptional";
                                        break;
                                }
                                <li class="comment even thread-even depth-1" id="comment-59">
                                    <div id="div-comment-59" class="comment-body review-list">
                                        <div class="row">
                                            <!-- row block start-->
                                            <div class="col-md-2 col-sm-2 hidden-xs">

                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <div class="panel panel-default arrow left">
                                                    <div class="panel-body">
                                                        <div class="text-left">
                                                            <h3>@review.author                    </h3>
                                                            <div class="comment-date">
                                                                <i class="fa fa-clock-o"></i> @review.DateIn.ToString("dd,MMM,yyyy")
                                                            </div> <!-- meta -->
                                                        </div>
                                                        <div class="comment-box">
                                                            <div class="review_rate" data-pixrating="@review.rating" title=""><i data-alt="1" class="star-on-png" title="gorgeous"></i>&nbsp;<i data-alt="2" class="star-on-png" title="gorgeous"></i>&nbsp;<i data-alt="3" class="star-on-png" title="gorgeous"></i>&nbsp;<i data-alt="4" class="star-on-png" title="gorgeous"></i>&nbsp;<i data-alt="5" class="star-on-png" title="gorgeous"></i><input name="pixrating" type="hidden" value="5" readonly=""></div>
                                                            <p>@ratename</p>
                                                        </div>
                                                    </div><!-- media-body -->
                                                </div>
                                            </div>
                                        </div><!-- row block end-->
                                    </div>
                                </li><!-- #comment-## -->
                            }
                            <!-- #comment-## -->
                        </ul>
                    }
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">User Review <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>
                        
                        <form action="/api/AddReview" method="post" id="commentform" class="leave-comments" novalidate>
                            <div>
                                <label for="add_post_rating">Your overall rating of this listing:</label>
                                <input type="hidden" name="ratinghidden" id="ratinghidden" />
                                <input type="hidden" name="VendorItemId" id="VendorItemId" value="@Model.VendorItem.Id" />
                            </div>
                            <p>
                                <img src="~/images/EmptyStar.png" class="StarRating" align="middle" id="1" style="width:50px;height:50px;" />
                                <img src="~/images/EmptyStar.png" class="StarRating" align="middle" id="2" style="width:50px;height:50px;" />
                                <img src="~/images/EmptyStar.png" class="StarRating" align="middle" id="3" style="width:50px;height:50px;" />
                                <img src="~/images/EmptyStar.png" class="StarRating" align="middle" id="4" style="width:50px;height:50px;" />
                                <img src="~/images/EmptyStar.png" class="StarRating" align="middle" id="5" style="width:50px;height:50px;" />
                            </p>
                            <p class="comment-form-comment" style="font-family:'Century Gothic', sans-serif;"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required="required" placeholder="Tell about your experience or leave a tip for others" class="form-control" data-gramm="true" data-txt_gramm_id="9d8f2fbc-1376-9363-5d8c-ede9a0ebb4fd" data-gramm_id="9d8f2fbc-1376-9363-5d8c-ede9a0ebb4fd" spellcheck="false" data-gramm_editor="true" style="z-index: auto;position: relative;line-height: 20px;font-size: 14px;transition: none 0s ease 0s;border-radius:2px;border:1px solid #e9e6e0;"></textarea></p>
                            <div class="form-group"><div class="col-md-12"><label for="author" class="control-label">Name</label><input id="author" name="author" type="text" value="" aria-required="true" class="form-control" /></div></div>
                            <div class="form-group"><div class="col-md-12"><label for="email" class="control-label">Email</label><input class="form-control" id="email" name="email" type="text" value="" aria-required="true" /></div></div>
                            <div class="form-group"><div class="col-md-12"><label for="subject" class="control-label">Subject</label><input class="form-control" id="subject" name="subject" type="text" value="" aria-required="true" /></div></div>


                            <script language="javascript" type="text/javascript">
                                $(function () {
                                    //$(".StarRating").mouseover(function () {
                                    //    giveRating($(this), "FilledStar.png");
                                    //    $(this).css("cursor", "pointer");
                                    //});
                                    //$(".StarRating").mouseout(function () {
                                    //    giveRating($(this), "EmptyStar.png");
                                    //});
                                    $(".StarRating").click(function () {
                                        giveRating($(this), "FilledStar.png");
                                        //$(".StarRating").unbind("mouseout mouseover click");

                                    });
                                });


                                function giveRating(img, image) {
                                    $(".StarRating").attr("src", "/images/EmptyStar.png");
                                    img.attr("src", "/images/" + image)
                                        .prevAll(".StarRating").attr("src", "/images/" + image);
                                    $("#ratinghidden").val(img.attr("id"));
                                }

                            </script>





                            <p class="form-submit">
                                <input name="submit" type="submit" id="submit" class="btn tp-btn-primary tp-btn-lg" value="Submit Review" /> <input type='hidden' name='comment_post_ID' value='521' id='comment_post_ID' />
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                            </p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="46b205dd2f" /></p><p style="display: none"><input type="hidden" id="ak_js" name="ak_js" value="223" /></p>
                        </form>
                    </div><!-- #respond -->
                </div><!-- #comments -->
                <!-- /.comments -->
            </div>
            <div class="col-md-4 page-sidebar">
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="venue-info">

                        </div>-->
                    </div>


                    <div class="col-md-12">
                        <div class="well-box" id="inquiry">
                            <h2 style="color:black;">Send Enquiry to Vendor</h2>
                            <p>Fill in your details and a Venue Specialist will get back to you shortly.</p>
                            <form class="ajax-auth" id="offersinquiry" method="post" action="/api/VendorsInquiries">

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="name">Name:<span class="required">*</span></label>
                                    <div class="">
                                        <input id="name" name="name" type="text" minlength="6" placeholder="Name" class="form-control input-md" required>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="phone">Phone:<span class="required">*</span></label>
                                    <div class="">
                                        <input id="phone" name="phone" type="text" minlength="10" minlength="12" placeholder="Phone" class="form-control input-md" required>
                                        <span class="help-block"> </span>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="email">Email:<span class="required">*</span></label>
                                    <div class="">
                                        <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required>
                                    </div>
                                </div>

                                <!-- Select Basic -->
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="date">Date:<span class="required">*</span></label>
                                    <div class="">
                                        <input id="date" name="date" type="date" placeholder="Select Date" class="form-control input-md check_book_date book_date" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="guest">Number of Guests:<span class="required">*</span></label>
                                    <div class="">
                                        <select id="guest" name="guest" class="form-control">
                                            <option value="1 to 50">1 to 50</option>
                                            <option value="51 to 100">51 to 100</option>
                                            <option value="101 to 200">101 to 200</option>
                                            <option value="201 to 500">201 to 500</option>
                                            <option value="501 to more">501 to more</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Multiple Radios -->
                                <div class="form-group">
                                    <label class="control-label">Send me info via</label>
                                    <div class="checkbox checkbox-success">
                                        <input type="checkbox" name="sendme" id="checkbox-0" value="Email" class="styled">
                                        <label for="checkbox-0" class="control-label">Email</label>
                                    </div>
                                    <div class="checkbox checkbox-success">
                                        <input type="checkbox" name="sendme" id="checkbox-1" value="Call" class="styled">
                                        <label for="checkbox-1" class="control-label"> Need Call back </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="book-now-on" id="book-now-on" value="Book Now" class="btn tp-btn-default tp-btn-lg btn-block" />
                                </div>
                                <div class="status"></div>
                                <input type="hidden" name="item_title" value="@Model.VendorItem.Title" />
                            </form>
                        </div>
                    </div>
                    <!-- SIDEBAR USERPIC -->
                    <!--<div class="profile-usertitle">
                      <div class="profile-usertitle-name">
                        <h2></h2>
                      </div>

                    </div>-->
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 tp-title">

                @if (Model.RelatedOffers!=null && Model.RelatedOffers.Count() > 0)
                {
                    <h1 style="color:black;">Offers by&nbsp;@Model.VendorItem.Title</h1>
                    foreach (var offer in Model.RelatedOffers)
                    {
                        <div class="col-md-4 vendor-box">
                            <!-- venue box start-->
                            <div class="vendor-image">
                                <!-- venue pic -->
                                <a href="#">
                                    <img width="440" height="290" src="~/Media/@offer.Image" class="img-responsive wp-post-image" alt="" />
                                </a>
                            </div>
                            <!-- /.venue pic -->
                            <div class="vendor-detail">
                                <!-- venue details -->
                                <div class="caption">
                                    <!-- caption -->
                                    <h2><a href="#" class="title">@offer.Title</a></h2>
                                    <p class="location"><i class="fa fa-map-marker"></i> @(offer.SalePrice != null && offer.SalePrice != 0 ? offer.SalePrice : offer.Price)</p>
                                </div>
                                <!-- /.caption -->
                            </div>
                            <!-- venue details -->
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


<div>



</div>
<div id="map-canvas" class="map" style="position: relative; overflow: hidden;"></div>

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyB5gJ-TdFei2HbcY4cg62x0MPCAEcmfKZ4"></script>
<script type="text/javascript">
    var stockholm = new google.maps.LatLng(@Model.VendorItem.Latitude, @Model.VendorItem.Longitude);
    var parliament = new google.maps.LatLng(@Model.VendorItem.Latitude, @Model.VendorItem.Longitude);
    var marker;
    var map;
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var mapOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: stockholm
        };

        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        directionsDisplay.setMap(map);
        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: parliament
        });
        google.maps.event.addListener(marker, 'click', toggleBounce);
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(calcRoute);
        }
        @foreach(var item in Model.Branches)
        {
            var marker = "marker" + item.Id;
            var parliament = "new google.maps.LatLng(" + item.Latitude + "," + item.Longitude + ")";
            
            <text>
        @marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: @parliament
        });
        google.maps.event.addListener(marker, 'click', toggleBounce);
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(calcRoute);
        }
        </text>
        }
    }
    function calcRoute(position) {

        var start = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        var end = new google.maps.LatLng(33.8739855, 35.5169851);
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    function toggleBounce() {

        if (marker.getAnimation() != null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
    window.onload = initialize();
</script>



@*<div id="googleMap" class="map" style="position: relative; overflow: hidden;">
        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
            <div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                <div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;">
                    <div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);">
                        <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                <div style="position: absolute; transform: matrix(1, 0, 0, 1, -161, -248);">
                                    <div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;">
                                        <div style="width: 256px; height: 256px;"></div>
                                    </div>
                                    <div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div>
                                </div>
                            </div>
                        </div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                        <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                        <div style="position: absolute; transform: matrix(1, 0, 0, 1, -161, -248); z-index: 985;">
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 256px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 0px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 0px;"></div>
                            <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 256px;"></div>
                            </div>
                            </div>
                        <div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0; animation-duration: 700ms; animation-iteration-count: infinite; animation-name: _gm7818;">
                        <img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        </div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                        <div style="position: absolute; transform: matrix(1, 0, 0, 1, -161, -248); z-index: 985;">
                        <div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23045!3i14301!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=126311" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23046!3i14301!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=115930" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23044!3i14301!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=5621" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23045!3i14300!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=47212" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23043!3i14300!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=67974" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23046!3i14300!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=36831" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23049!3i14301!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=84787" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23048!3i14301!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=95168" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23048!3i14300!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=16069" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23047!3i14301!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=105549" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23044!3i14300!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=57593" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23047!3i14300!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=26450" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23043!3i14301!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=16002" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                        <div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                            <img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i23049!3i14300!4i256!2m3!1e0!2sm!3i446152282!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2!23i1301875&amp;key=AIzaSyBMxLXOAz91qQCpPbluIe6CM5Jcpz1XYtA&amp;token=5688" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div>
                            </div></div>
                    </div>
                <div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div>
                <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;">
                    <div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);">
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;">
                        <div title="" style="width: 43px; height: 59px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: -22px; top: -51px; z-index: 0;">
                        <img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 43px; height: 59px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" scale="0"></div></div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
                        </div></div>
                </div>
                <iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="about:blank"></iframe>
                <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                <a target="_blank" rel="noopener" href="https://maps.google.com/maps?ll=33.868481,34.7262021&amp;z=15&amp;t=m&amp;hl=en-GB&amp;gl=US&amp;mapclient=apiv3" title="Open this area in Google Maps (opens a new window)" style="position: static; overflow: visible; float: none; display: inline;">
                    <div style="width: 66px; height: 26px; cursor: pointer;">
                    <img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;" scale="0"></div></a></div>
                <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 610px; top: 120px;">
                <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
                <div style="font-size: 13px;">Map data ©2018 Google</div>
                <button draggable="false" title="Close" aria-label="Close" type="button" class="gm-ui-hover-effect" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;">
                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;"></button></div>
                <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 169px; bottom: 0px; width: 121px;">
                <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
                    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                    <div style="width: 1px;"></div>
                    <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                        </div>
                    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                    <a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a>
                    <span>Map data ©2018 Google</span>
                        </div></div></div>
                <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google</div>
                    </div>
                <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
                <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                    <div style="width: 1px;"></div>
                    <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                    </div>
                <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                    <a href="https://www.google.com/intl/en-GB_US/help/terms_maps.html" target="_blank" rel="noopener" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a>
                    </div></div>
                <button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" class="gm-control-active gm-fullscreen-control" style="background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 0px; right: 0px;">
                <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 11px;">
                <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 11px;">
                <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 11px;"></button>
                <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="40" controlheight="81" style="margin: 10px; user-select: none; position: absolute; bottom: 95px; right: 40px;">
                <div class="gmnoprint" controlwidth="40" controlheight="81" style="position: absolute; left: 0px; top: 0px;">
                    <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;">
                    <button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;">
                        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 9px 11px 13px;">
                        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 9px 11px 13px;">
                        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23111%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 9px 11px 13px;"></button>
                    <div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;"></div>
                    <button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;">
                        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 13px 11px 9px;">
                        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 13px 11px 9px;">
                        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 18px; width: 18px; margin: 13px 11px 9px;"></button></div></div></div>
                <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="0" controlheight="0" style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 26px; left: 0px;"><div class="gmnoprint" controlwidth="40" controlheight="40" style="display: none; position: absolute;"><div style="width: 40px; height: 40px;">
                    <button draggable="false" title="Rotate map 90 degrees" aria-label="Rotate map 90 degrees" type="button" class="gm-control-active" style="background: none rgb(255, 255, 255); display: none; border: 0px; margin: 0px 0px 32px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;">
                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 28px; width: 28px; margin: 6px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 28px; width: 28px; margin: 6px;">
                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="height: 28px; width: 28px; margin: 6px;"></button>
                    <button draggable="false" title="Tilt map" aria-label="Tilt map" type="button" class="gm-tilt gm-control-active" style="background: none rgb(255, 255, 255); display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;">
                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="width: 18px; height: 16px; margin: 12px 11px;">
                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="width: 18px; height: 16px; margin: 12px 11px;">
                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" scale="0" style="width: 18px; height: 16px; margin: 12px 11px;"></button></div></div></div>
                <div draggable="false" class="gm-style-cc" style="position: absolute; user-select: none; height: 14px; line-height: 14px; right: 77px; bottom: 0px;">
                    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div>
                    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                        <span>200 m&nbsp;</span><div style="position: relative; display: inline-block; height: 8px; bottom: -1px; width: 49px;">
                            <div style="width: 100%; height: 4px; position: absolute; left: 0px; top: 0px;"></div><div style="width: 4px; height: 8px; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"></div><div style="width: 4px; height: 8px; position: absolute; background-color: rgb(255, 255, 255); right: 0px; bottom: 0px;"></div><div style="position: absolute; background-color: rgb(102, 102, 102); height: 2px; left: 1px; bottom: 1px; right: 1px;"></div><div style="position: absolute; width: 2px; height: 6px; left: 1px; top: 1px; background-color: rgb(102, 102, 102);"></div>
                            <div style="width: 2px; height: 6px; position: absolute; background-color: rgb(102, 102, 102); bottom: 1px; right: 1px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div class="spacer">
    <div class="container">
        <div class="row">
            
            @if (Model.RelatedItems != null)
            {
            <div class="col-md-12 tp-title">
                <h1 style="color:black;">Recommended for&nbsp;@Model.VendorItem.Title </h1>
            </div>
                foreach (var row in Model.RelatedItems.ToList())
                {
                    


                        <div class="col-md-3 vendor-box">
                            <!-- venue box start-->
                            <div class="vendor-image">
                                <!-- venue pic -->
                                <a href="/Vendors/Details/@row.Id">
                                    <img width="440" height="290" src="~/Media/@row.Thumb" class="img-responsive wp-post-image" alt="" />
                                </a>
                            </div>
                            <!-- /.venue pic -->
                            <div class="vendor-detail">
                                <!-- venue details -->
                                <div class="caption">
                                    <!-- caption -->
                                    <h4><a href="/Vendors/Details/@row.Id" class="title">@row.Title</a></h4>
                                    <p class="location"><i class="fa fa-map-marker"></i> @row.Address</p>
                                </div>
                                <!-- /.caption -->
                            </div>
                            <!-- venue details -->
                        </div>
                    
                }
            }
        </div>
    </div>
</div>




