@model DAL.PaymentSetting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PaymentSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecuritySign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecuritySign)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecurringFrequency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecurringFrequency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
